<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <%= render 'layouts/header' %>
        
        <div class="container">
            <div class ="center jumbotron">
                <h2>Welcome back, <%= @user.first_name %></h2>
            </div>
        </div>
				
				<div class="container">
					<div class="center jumbotron">
						<h3>Programs</h3>
						<button onClick="this.nextElementSibling.style.display == 'block' ? this.nextElementSibling.style.display='none' : this.nextElementSibling.style.display='block';">Show Programs</button>
						<%# this.nextElementSibling.style.display == 'none' ? this.nextElementSibling.style.display='inline' : this.nextElementSibling.style.display='none'; %>
						<table id="hiddenPrograms">
							<thead>
								<th>ID</th>
								<th>Name</th>
								<th>Abbreviation</th>
								<th>Link</th>
							</thead>
							
							<tbody>
								<% @programs.each do |program| %>
									<tr>
										<td><%= program.id %></td>
										<td><%= program.name %></td>
										<td><%= program.abbreviation %></td>
										<td><a href ="<%= program.link %>"><%= program.link %></a></td>
										<td><%= button_to 'Edit', edit_program_path(program), method: :get%></td>
										<td><%= button_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						
						<div>
							<button><%= link_to "Add Program", {:controller => 'programs', :action => 'new'} %></button>
						</div>
					</div>
				</div>
				
				
				<div class="container">
					<div class="center jumbotron">
						<h3>Program Requirements</h3>
						<button onClick="this.nextElementSibling.style.display == 'block' ? this.nextElementSibling.style.display='none' : this.nextElementSibling.style.display='block';">Show Eligibility Requirements</button>
						<table id="hiddenRequirements">
							<thead>
								<tr>
									<th>Program</th>
									<th>Min age</th>
									<th>Max age</th>
									<th>Max Income</th>
									<th>Min Income</th>
									<th>Assets threshold</th>
									<th>Veteran Status Required</th>
									<th>Disabilty Required</th>
									<th>Zip code range</th>
									<th colspan="3"></th>
								</tr>
							</thead>

							<tbody>
								<% @requirements.each do |requirement| %>
									<tr>
										<td><%= requirement.program_id %></td>
										<td><%= requirement.min_age %></td>
										<td><%= requirement.max_age %></td>
										<td><%= requirement.max_income %></td>
										<td><%= requirement.min_income %></td>
										<td><%= requirement.assets_threshold %></td>
										<td><%= requirement.veteran %></td>
										<td><%= requirement.disabled %></td>
										<td><%= requirement.zip_code_range_start %> - <%= requirement.zip_code_range_end %></td>
										<td><%= button_to 'Edit', edit_program_requirement_path(requirement), method: :get %></td>
										<td><%= button_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<%# Removed 'add program requirements' button. Users should add requirements immediately after adding a program %>
					</div>
				</div>
			<% if @user.administrator %>	
				<div class="container">
					<div class="center jumbotron">
						<h3>Users</h3>
						<button onClick="this.nextElementSibling.style.display == 'block' ? this.nextElementSibling.style.display='none' : this.nextElementSibling.style.display='block';">Show Users</button>
						<table id="hiddenUsers">
							<thead>
								<th>Name</th>
								<th>Email</th>
								<th>Admin Privelages?</th>
							</thead>
							<tbody>
								<% @users.each do |user| %>
									<tr>
										<td><%= user.first_name %> <%= user.last_name %></td>
										<td><%= user.email %></td>
										<td><%= user.administrator %></td>
										<td><%= button_to "Make Admin", {:action => "promote", id: user.id} %></td>
										<td><%= button_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure you want to delete this user?'} %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
          <div>
            <button><%= link_to "Add User", {:action => 'new'} %></button>
					</div>
				</div>
			<% end %>	
    </body>
    
</html>