<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <%= render 'layouts/header' %>
        <div class ="container">
            <div class ="center jumbotron">
                <h1>Medicare Savings Program Determiner</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum, odio et commodo consequat, ante ante cursus ipsum, sed egestas dui turpis sed sem.</h2>
            </div>
        </div>
        
        <div class="container">
            <h3>Check your eligibility</h5>
            <hr>
            <div class="col-md-6 form-inline">
                <div>
                    <h4>Fill the following form to find out what Medicare savings programs you may qualify for.</h4>
                </div>
                <div class="search-input">
                    <%= form_for(@search, url: search_path) do |f| %>
                        <%= render 'shared/error_messages' %>
                        <%= f.label :zipcode %>&nbsp&nbsp&nbsp&nbsp&nbsp
                        <%= f.number_field :zipcode, class: 'form-control input-restriction' %>
                        </br>
                        <%= f.label :age %>&nbsp&nbsp&nbsp&nbsp&nbsp
                        <%= f.number_field :age, class: 'form-control input-restriction' %>
                        </br>
                        <%= f.label :income, 'Annual Income' %>&nbsp&nbsp&nbsp&nbsp&nbsp
                        <%= f.number_field :income, class: 'form-control input-restriction' %>
                        </br>
                        <%= f.label :assetAmount, 'Amount in Assets' %>&nbsp&nbsp&nbsp&nbsp&nbsp
                        <%= f.number_field :assetAmount, class: 'form-control input-restriction' %>
                        </br>
    					<%= f.label :household, 'Household Size' %> &nbsp&nbsp&nbsp&nbsp&nbsp
    					<%= f.number_field :household, class: 'form-control input-restriction' %>
    					</br>
    					Do you currently hold veteran status?
    					<%= radio_button_tag(:veteran, false) %>
                        <%= label_tag(:veteran_false, "No") %>
                        <%= radio_button_tag(:veteran, true) %>
                        <%= label_tag(:veteran_true, "Yes") %>
                        </br>
                        Do you currently hold disability status?
    					<%= radio_button_tag(:disabled, false) %>
                        <%= label_tag(:disabled_false, "No") %>
                        <%= radio_button_tag(:disabled, true) %>
                        <%= label_tag(:disabled_true, "Yes") %>
                        </br>
						Do you have End Stage Renal Disease?
    					<%= radio_button_tag(:renal, false) %>
                        <%= label_tag(:renal_false, "No") %>
                        <%= radio_button_tag(:renal, true) %>
                        <%= label_tag(:renal_true, "Yes") %>
						</br>
						Do you have ALS?
    					<%= radio_button_tag(:als, false) %>
                        <%= label_tag(:als_false, "No") %>
                        <%= radio_button_tag(:als, true) %>
                        <%= label_tag(:als_true, "Yes") %>
						</br>
                        <%= f.submit "Search", class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-6">
                <div class="sidebar-veteran">
                    <h4>Are you a veteran?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum, odio et commodo consequat, ante ante cursus ipsum, sed egestas dui turpis sed sem.</p>
                    <a href="bhasbask">Learn More >></a>
                </div>
                <div class="sidebar-something">
                    <h4>Pretty sure we can think of something that can go here</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum, odio et commodo consequat, ante ante cursus ipsum, sed egestas dui turpis sed sem.</p>
                    <a href="bhasbask">Learn More >></a>
                </div>
            </div>
        </div>
        
        <%= render 'layouts/footer' %>
    </body>
    
</html>
