<%= form_for(program_requirement) do |f| %>
  <% if program_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_requirement.errors.count, "error") %> prohibited this program_requirement from being saved:</h2>

      <ul>
      <% program_requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :min_age %>
    <%= f.number_field :min_age %>
  </div>

  <div class="field">
    <%= f.label :max_age %>
    <%= f.number_field :max_age %>
  </div>

  <div class="field">
    <%= f.label :max_income %>
    <%= f.number_field :max_income %>
  </div>

	<div class="field">
    <%= f.label :min_income %>
    <%= f.number_field :min_income %>
  </div>
	
  <div class="field">
    <%= f.label :assets_threshold %>
    <%= f.number_field :assets_threshold %>
  </div>

	<div class="field">
		<strong>Veteran Status Required</strong>
		</br>
		<strong>Current status: <%= program_requirement.veteran %></strong>
		</br>
		<%= radio_button_tag(:veteran, false) %>
		<%= label_tag(:veteran_false, "No") %>
		<%= radio_button_tag(:veteran, true) %>
		<%= label_tag(:veteran_true, "Yes") %>
		</br>
	</div>
	<iv class="field">
	<strong>Disability Required -- Patient has to have been collecting disability benefits for at least 2 years</strong>
	</br>
		<strong>Current status: <%= program_requirement.disabled %></strong>
	</br>
	<%= radio_button_tag(:disabled, false) %>
	<%= label_tag(:disabled_false, "No") %>
	<%= radio_button_tag(:disabled, true) %>
	<%= label_tag(:disabled_true, "Yes") %>
	</br>

  <div class="field">
    <%= f.label :zip_code_range_start %>
    <%= f.number_field :zip_code_range_start %>
  </div>
	
	<div class="field">
    <%= f.label :zip_code_range_end %>
    <%= f.number_field :zip_code_range_end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
